black==25.1.0
click==8.1.8
colorama==0.4.6
mypy-extensions==1.0.0
numpy==2.0.0
packaging==24.2
pandas==2.2.2
pathspec==0.12.1
pgzip==0.3.5
platformdirs==4.3.6
pyarrow==16.1.0
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.1
rarfile==4.2
six==1.16.0
tomli==2.2.1
tqdm==4.66.4
typing_extensions==4.12.2
tzdata==2024.1
